@use '../utils/' as *;

.book-div {
    background-color: $bg-bookdiv-color;
    border-radius: 10px;
    border: 1px solid $text-secondary-color;
    color: $text-primary-color;

    .info-container {
        width: 100%;
        overflow: hidden;

        .book-title {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;    
        }
    }

}