@use '../utils/' as *;

.book-div {
    background-color: $bg-bookdiv-color;
    border-radius: 10px;
    // border: 1px solid $bg-btn-primary-color;
    color: $text-primary-color;
    box-shadow: 0 4px 8px rgb(0, 0, 0);


    .info-container {
        width: 100%;
        overflow: hidden;

        .book-title {
            font-family: $book-title-font;
            font-weight: bold;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;    
        }
    }

}