@use '../utils/' as *;


.search-btn{
    border: none;
    background-color: $bg-btn-primary-color;
    color: $text-btn-color;
    font-weight: bold;
    border-radius:0 15px 15px 0;

    padding:0 15px 0 5px;
    
    &:hover{
        background-color: aliceblue;
    }
}




.view-btn-container {
    display: flex;
    gap: 10px;
    padding: 0 10px;

    .view-btn {
        color: rgb(255, 255, 255);
        background: none;
        border: none;
        padding: 5px;
        border-radius: 10px;
    }

    .active {
        color: $bg-btn-primary-color;
        background: #02292cc7;
    }
}

.view-btn-container button i {
    pointer-events: none; /* Disabilita gli eventi di puntamento */
}

.my-library-btn-container {
    padding: 0 20px;
    .my-library-btn{
        padding: 0 !important;
        background: none;
        border: none;
         i {
             font-size: 1.6rem;
             color: white;
         }

         .my-library-counter {
            background-color: $bg-btn-primary-color !important;
         }
    }

}