@use '../utils/' as *;


.search-btn{
    border: none;
    background-color: $bg-btn-primary-color;
    color: $text-btn-color;
    font-weight: bold;
    border-radius:0 15px 15px 0;

    padding:0 15px 0 5px;
    
    &:hover{
        background-color: aliceblue;
    }
}

.description-btn {
    padding: 5px 15px;
    font-weight: bolder;
    border: none;
    width: fit-content;
    text-transform: uppercase;

    background-color: $bg-btn-secondary-color;
    color: $bg-bookdiv-color;
    box-shadow: 2px 13px 15px -10px rgba(0,0,0,0.93);
    // border: 1px solid $bg-btn-primary-color;
}



.view-btn-container {
    display: flex;
    gap: 10px;
    padding: 0 10px;

    .view-btn {
        color: rgb(255, 255, 255);
        background: none;
        border: none;
        padding: 5px;
        border-radius: 10px;
    }

    .active {
        color: $bg-btn-primary-color;
        background: #02292cc7;
    }
}

.view-btn-container button i {
    pointer-events: none; /* Disabilita gli eventi di puntamento */
}