@use '../utils/' as *;


.side-container{
    background-color: $text-secondary-color;
    border-radius: 10px;
    color: white;
    .my-library-container{
        position: relative;
        min-height: 100%;

        .close-btn-container{
            display: flex;
            justify-content: flex-end;
            .close-mylibrary-btn {
                padding: 0;
                display: flex;
                color: $bg-primary-color;
                background: none;
                border: none;
                font-size: 1.5rem;
            }
        }


        .my-library-title-container {
            text-align: center;
            color: $bg-primary-color;
            text-shadow: 2px 1px 1px $bg-btn-primary-color;
            border-bottom: 1px solid white;
            margin-bottom: 10px; 

            h2 {
            font-weight: bolder;

            }
        }

        .my-library-content {
            color: $text-primary-color;
            font-family: $list-font;
            font-size: 1.4rem;
        }

        .clear-all-btn-container {
            display: flex;
            justify-content: center;

            .clear-all-btn{
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.2s, box-shadow 0.2s;

                &:hover{
                    transform: translateY(-2px);
                    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
                }
                
                &:active{
                    transform: translateY(2px);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                }

                .show{
                    display: block;
                }
                
                .hide{
                    display: none;
                }
            }
        }
    }


}
