@use '../utils/' as *;

header {
    // background-color: $bg-primary-color-light;
    padding: 20px 0;

    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;

    .view-btn-container {
        justify-self: end;
    }
}


