@use '../utils/' as *;

.library {
    padding: 10px;
    display: grid;
    gap: 20px;
    

    @include media-breakpoint-up(md){

        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr)
    }

}