

$bg-primary-color: #054347;
$bg-primary-color-light: #49333d;
$bg-seconadry-color: #54101d;

$bg-btn-primary-color: #FF6F61;
$bg-btn-secondary-color: #800020;


$text-primary-color: #54101d;
$text-secondary-color: #d5c5ae;
$text-btn-color: #272424;

$bg-bookdiv-color: #bebeba;





