@use '../../utils/' as *;

.library-list-view {
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    
    .book-div {
        display: grid;
        justify-items: center;
        position: relative;
        padding: 20px 10px;
        
        .info-container {
            width: 90%;
        }
    
        .book-title, .book-authors {
            text-align: center;
        }

        .book-title {
            width: 100%;

        }
        
    }

        @include media-breakpoint-up(md){
            .book-div{
                width: 100%;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden; 

                .info-container {
                    flex: 1;

                    .book-title, .book-authors {
                        text-align: left;
                        flex: 1;
                    }
                }
            }
    


        }
    }


